.header {
	background-color: #EDEEF3;
	color: #333333;
}

.texto-udem{
	color: #333333;
}

.lista p {
	margin: 0;
}

body {
	color: #000;
	overflow-x: hidden;
	height: 100%;
	background-color: #EDEEF3;
}

input,
textarea {
	background-color: #F3E5F5;
	border-radius: 15px !important;
	padding: 12px 15px 12px 15px !important;
	width: 100%;
	box-sizing: border-box;
	border: none !important;
	border: 1px solid #F3E5F5 !important;
	font-size: 16px !important;
	color: #000 !important;
	font-weight: 400;
}

input:focus,
textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #D500F9 !important;
	outline-width: 0;
	font-weight: 400;
}

button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0;
}

.card {
	border-radius: 0;
	border: none;
}

.card1 {
	width: 50%;
	padding: 40px 30px 10px 30px;
}

.card2 {
	width: 50%;
	background-image: url("/public/imgs/udem-bg.jpg");
	background-repeat: 'no-repeat';
	background-size: cover;
	background-position: 'center'
}

#logo {
	width: 15em;
	height: 7em;
}

.heading {
	margin-bottom: 60px !important;
}

::placeholder {
	color: #000 !important;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #000 !important;
}

::-ms-input-placeholder {
	color: #000 !important;
}

.form-control-label {
	font-size: 1rem;
	margin-left: 15px;
}

.form-control {
	font-size: 100px;
}

.msg-info {
	padding-left: 15px;
	margin-bottom: 30px;
}

.btn-color {
	border-radius: 15px;
	color: #fff;
	background: #333333;
	padding: 15px;
	cursor: pointer;
	border: none !important;
	margin-top: 40px;
}

.btn-white {
	border-radius: 15px;
	color: #D500F9;
	background-color: #fff;
	padding: 8px 40px;
	cursor: pointer;
	border: 2px solid #D500F9 !important;
}

.btn-white:hover {
	color: #fff;
	background-image: linear-gradient(to right, #FFD54F, #D500F9);
}

a {
	color: #000;
}

a:hover {
	color: #000;
}

.bottom {
	width: 100%;
	margin-top: 50px !important;
}

.sm-text {
	font-size: 15px;
}

.contenedor {
	min-height: 100vh;
}

.contenedor2 {
	min-height: 90vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 25px;
}

.card {
	border-radius: 25px;
}

.card-derecha {
	border-radius: 0;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.card-izquierda {
	border-radius: 0;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

.anchor {
	color: #333333 !important;
}



.p-salir {
	padding-right: 10px;
	font-size: 16px !important;
}

.p-nombre{
	font-size: 26px !important;
}
.icono-usuario {
	font-size: 3.5rem;
	margin-right: 1rem;
}


.icono-salir {
	height: 1.5rem;
}

.icono-sidebar {
	font-size: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
}

#currentClass {
	font-size: 35px;
}
.currentClass {
	font-size: 35px;
}

.p-escanear {
	font-size: 20px;
}

.boton-qr {
	padding: 10px;
	margin-top: .5em;
}

.sidebar {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.nav-link{
	color: #333333;
	cursor: pointer;
}

.grafica{
	height: 300px;
	width: 100%;
}

.leyenda{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.leyenda div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.asistencia {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FF0000;
	margin-right: 10px;
}
.retraso {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FF00E5;
	margin-right: 10px;
}
.salida {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #0CFFF0;
	margin-right: 10px;
}
.retraso-salida {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #6891FA;
	margin-right: 10px;
}
.falta {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #DBFF00;
	margin-right: 10px;
}
  
.leyenda {
	display: flex;
	flex-direction: row;
}

.icono-detalle{
	font-size: 23px;
	cursor: pointer;
}
/* RESPONSIVE STYLES */

@media screen and (max-width: 992px) {
	.card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.card1 {
		width: 100%;
		padding: 40px 30px 10px 30px;
	}

	.card2 {
		width: 100%;
	}

	.right {
		margin-top: 100px !important;
		margin-bottom: 100px !important;
	}
}

@media screen and (max-width: 768px) {
	.card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.container {
		padding: 10px !important;
	}

	.card2 {
		padding: 50px;
	}

	.right {
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
}