/* BUTTONS */

.cta {
  background-color: #403B33;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
}

/* FORMS */

.login-form {
  padding: 50px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* OTHER */

.banner {
  background-color: #FFF500;
  text-align: center;
  padding: 10px 0;
}

/* HEADER */

.header {
  background-color: #403B33;
  color: #FFFFFF;
}