.header {
	background-color: #EDEEF3;
	color: #333333;
}

.texto-udem{
	color: #333333;
}

.lista p {
	margin: 0;
}

.active-link {
	text-decoration: underline #FFE700 3px !important;
}

body {
	color: #000;
	overflow-x: hidden;
	height: 100%;
	background-color: #EDEEF3;
}

input,
textarea {
	background-color: #F3E5F5;
	border-radius: 15px !important;
	padding: 12px 15px 12px 15px !important;
	width: 100%;
	box-sizing: border-box;
	border: none !important;
	border: 1px solid #F3E5F5 !important;
	font-size: 16px !important;
	color: #000;
	font-weight: 400;
}

input:focus,
textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #D500F9 !important;
	outline-width: 0;
	font-weight: 400;
}

button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0;
}

.card {
	border-radius: 0;
	border: none;
}

.card1 {
	width: 50%;
	padding: 40px 30px 10px 30px;
}

.card2 {
	width: 50%;
	background-image: url("/public/imgs/udem-bg.jpg");
	background-repeat: 'no-repeat';
	background-size: cover;
	background-position: 'center'
}

.white-card {
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #FFFFFF;
}

.black-card {
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #333333;
	display: flex;
	margin-bottom: 20px !important;
	padding-left: 1em;
	padding-right: 1em;
}
.tabla-izq{
	padding-left: 2em !important;
}
.tabla-der{
	padding-right: 2em !important;
}

.h1-falta{
	color: white;
	font-size: 30px;
	display: flex;
	margin-bottom: 0 !important;
}

.form-reportar{
	display: flex;
	flex-direction: column;

}
.dropdown{
	display: flex;
	flex-direction: column;
}
.select-opciones{
	background-color: white;
	width: 18em;
	height: 2.5em;
	border-radius: 0 !important;
}
.boton-registrar{
	color: #333333;
	background-color: #FFFFFF;
	width: 150px;
	border-radius: 15px;
	padding: 5px 0;
	justify-self: flex-end;
	margin-left: auto;
}
.label{
	color: white;
	display: flex;
	font-size: 18px;
	margin-bottom: .5em;
}
.form-reportar-labels{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form-buscar-profesor{
	background-color: white;
	margin-top: 2em;
	margin-bottom: 2em;
}
.form-buscar-profesor::placeholder, .form-control::placeholder{
	color: gray !important;
}
#logo {
	width: 15em;
	height: 7em;
}
.css-1a4cg4j-MuiButtonBase-root-MuiTab-root{
	color: white !important;
}

.Mui-selected{
	color: #FFE700 !important;
}

.css-11yukd5-MuiTabs-indicator{
	background-color: #FFE700 !important;
}
.heading {
	margin-bottom: 60px !important;
}

::placeholder {
	color: #000 !important;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #000 !important;
}

::-ms-input-placeholder {
	color: #000 !important;
}

.form-control-label {
	font-size: 1rem;
	margin-left: 15px;
}

.form-control {
	font-size: 100px;
}

.msg-info {
	padding-left: 15px;
	margin-bottom: 30px;
}

.btn-color {
	border-radius: 15px;
	color: #fff;
	background: #333333;
	padding: 15px;
	cursor: pointer;
	border: none !important;
	margin-top: 40px;
}

.btn-white {
	border-radius: 15px;
	color: #D500F9;
	background-color: #fff;
	padding: 8px 40px;
	cursor: pointer;
	border: 2px solid #D500F9 !important;
}

.btn-white:hover {
	color: #fff;
	background-image: linear-gradient(to right, #FFD54F, #D500F9);
}

.btn-send {
	border-radius: 15px;
	color: #fff;
	background: #333333;
	padding: 15px;
	cursor: pointer;
	border: none !important;
	width: 100%;
	margin-top: 10px;
}

a {
	color: #000;
}

.bottom {
	width: 100%;
	margin-top: 50px !important;
}

.sm-text {
	font-size: 15px;
}

.contenedor {
	min-height: 100vh;
}

.contenedor2 {
	min-height: 90vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 25px;
}

.card {
	border-radius: 25px;
}

.card-derecha {
	border-radius: 0;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.card-izquierda {
	border-radius: 0;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

.anchor {
	color: #333333 !important;
}

.p-salir {
	padding-right: 10px;
	font-size: 16px !important;
}
.boton-aceptar{
	font-size: 20px;
	cursor: pointer;
}
.p-nombre{
	font-size: 26px !important;
}
.icono-usuario {
	font-size: 3.5rem;
	margin-right: 1rem;
}


.icono-salir {
	height: 1.5rem;
}

.icono-sidebar {
	font-size: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
}

.icono-descargar{
	font-size: 24px;
}

#currentClass {
	font-size: 35px;
}
.currentClass {
	font-size: 35px;
}

.p-escanear {
	font-size: 20px;
}

.boton-qr {
	padding: 10px;
	margin-top: .5em;
}

.sidebar {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}


.nav-link{
	color: #333333;
	cursor: pointer;
}

.nav-link:hover {
	color: #333333 !important;
}

.grafica{
	height: 300px;
	width: 100%;
	margin-bottom: 20px !important;
	display: flex;
	justify-content: center;
}

.boton-descargar {
	text-decoration: none !important;
	font-size: 18px;
}

.leyenda{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.leyenda div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.asistencia {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #adad5c;
	margin-right: 10px;
}
.retraso {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #946724;
	/*background-color: #FFEF5C;*/
	margin-right: 10px;
}
.salida {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #c8ddbb;
	/*background-color: #FFF385;*/
	margin-right: 10px;
}
.retraso-salida {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f7deb6;
	/*background-color: #A39300;*/
	margin-right: 10px;
}
.falta {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f1c57e;
	/*background-color: #524900;*/
	margin-right: 10px;
}
.aviso {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #250025;
	margin-right: 10px;
}
.unidad-externa {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/* background-color: #b5cef7; */
	background-color: #2e3350;
	margin-right: 10px;
}
.reposicion {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #5974bc;
	margin-right: 10px;
}
.adelanto {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/* background-color: #2e3350; */
	/* background-color: #b5cef7; */
	background-color: #8c93c7;
	margin-right: 10px;
}
.autorizacion {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #c6c1e1;
	margin-right: 10px;
}
.clase-repuesta {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/* background-color: #8c93c7; */
	background-color: #b5cef7;
	margin-right: 10px;
}

.leyenda {
	display: flex;
	flex-direction: row;
}

.icono-detalle{
	font-size: 23px;
	cursor: pointer;
}
/* RESPONSIVE STYLES */

@media screen and (max-width: 992px) {
	.card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.card1 {
		width: 100%;
		padding: 40px 30px 10px 30px;
	}

	.card2 {
		width: 100%;
	}

	.right {
		margin-top: 100px !important;
		margin-bottom: 100px !important;
	}
}

@media screen and (max-width: 768px) {
	.card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.container {
		padding: 10px !important;
	}

	.card2 {
		padding: 50px;
	}

	.right {
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
}

.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
	margin-bottom: 0 !important;
}

.spinner-border {
	width: 60px;
	height: 60px;
	display: none;
}